# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

dist
.eslintcache

# dependencies
node_modules
.pnp
.pnp.js

# testing
coverage

# misc
.DS_Store
*.pem

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
stats.html

# local env files
.env.local
.env.*.local

# turbo
.turbo

# Vuepress files
.temp
.cache
/coverage/

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Tarballs
*.tgz