# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Build outputs
dist
dist-ssr

# Dependencies
node_modules
.pnp
.pnp.js

# Testing
coverage
reports
*.lcov
.nyc_output
__screenshots__/

# Logs
logs
*.log
*.log*
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Environment files
.env
.env.local
.env.*.local
*.local

# Temp files
.tmp
.cache
.temp
stats.html
*.tgz

# Turbo
.turbo

# Nuxt
.nuxt
.output
.vercel_build_output
.build-*
.netlify
.nitro

# Vuepress
/coverage/

# VSCode
.vscode/*
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Intellij IDEA
.idea
*.iml
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OSX
.DS_Store
.AppleDouble
.LSOverride
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.pem

# Cypress
/cypress/videos/
/cypress/screenshots/

# Build artifacts
*.tsbuildinfo
*.timestamp-*
*.timestamp-*-*.mjs
vite.config.mts.timestamp*
.eslintcache
components.d.ts

# Project specific
TODO.md
packages/bootstrap-vue-next/src/App.vue
