:root {
    --content-width: 1200px;
}

body {
    font-family: var(--font-family) !important;
    background-color: var(--c-bg) !important;
    color: var(--c-text) !important;
    font-size: 16px !important;
}

a:not(.action-button) {
    color: var(--c-text-accent) !important;
}

.nav-link:not(.sidebar-item):not(.action-button) {
    padding: 0 !important;
}

.badge {
    height: auto;
}

.theme-container > .navbar {
    position: fixed;
}

.theme-container > .navbar > span > a {
    text-decoration: none;
}

code[class*="language-"], pre[class*="language-"] {
    font-size: 0.85em !important;
    font-family: var(--font-family-code) !important;
    line-height: 1.58 !important;
}

p:not(.hero .description) {
    margin: 1rem 0 !important;
}

table:not(.table) {
    font-size: 0.85em;
}

table:not(.table) td,
table:not(.table) th {
	border: 1px solid var(--c-border);
	padding: 6px 13px;
}

table:not(.table) tr:nth-child(2n) {
	background-color: var(--c-bg-lighter);
}

code {
    background: transparent;
    padding: 0;
}

h2.accordion-header {
    border-bottom: none;
    padding-bottom: 0;
}