@import "../components/BAvatar/avatar";
@import "../components/BButton/button";
@import "../components/BCard/card";
@import "../components/BIcon/icon";
@import "../components/BInputGroup/input-group";
@import "../components/BPagination/pagination";
@import "../components/BTransition/transition";

.input-group
  > .form-floating:not(:first-child)
  > :not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
  margin-left: 0px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.input-group:not(.has-validation)
  > .form-floating:not(:last-child)
  > :not(.dropdown-toggle):not(.dropdown-menu) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.dropdown-toggle.dropdown-toggle-no-caret:before,
.dropdown-toggle.dropdown-toggle-no-caret:after {
  display: none !important;
}
// No focus outline helper (use sparingly)
.bv-no-focus-ring:focus {
  outline: none;
}
