# This workflow builds and deploys the docs to GitHub Pages

name: docs-github-pages-deploy

on:
  release:
    types: [created]
  workflow_dispatch:

jobs:
  build-and-deploy:
    # Only run for bootstrapvuenext releases or manual workflow dispatch
    if: github.event_name == 'workflow_dispatch' || (github.event.release && startsWith(github.event.release.tag_name, 'bootstrapvuenext'))
    
    permissions:
      contents: read
      pages: write
      id-token: write

    concurrency: ci-${{ github.ref }} # Recommended if you intend to make multiple deployments in quick succession.

    runs-on: ubuntu-latest

    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    steps:
      - name: Clone Repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 24.x.x

      - name: Install PNPM
        uses: pnpm/action-setup@v4
        id: pnpm-install

      - name: Get PNPM Store Directory
        id: pnpm-cache
        shell: bash
        run: |
          echo "STORE_PATH=$(pnpm store path)" >> $GITHUB_OUTPUT

      - name: Setup PNPM Cache
        uses: actions/cache@v3
        with:
          path: ${{ steps.pnpm-cache.outputs.STORE_PATH }}
          key: ${{ runner.os }}-pnpm-store-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-pnpm-store-

      - name: Install Dependencies
        run: pnpm install --ignore-scripts --frozen-lockfile

      - name: Build Library
        run: pnpm run build --filter docs

      - name: Configure Pages
        uses: actions/configure-pages@v5

      - name: Upload Artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: ./apps/docs/.vitepress/dist

      - name: Deploy Pages
        id: deployment
        uses: actions/deploy-pages@v4
