# This workflow will publish the main package to GitHub Packages when a release is created
# For more information see: https://help.github.com/actions/language-and-framework-guides/publishing-nodejs-packages

name: npm-publish-main

on:
  release:
    types: [created]
  workflow_dispatch: {}

jobs:
  publish-npm-main:
    permissions:
      id-token: write

    runs-on: ubuntu-latest

    steps:
      - name: Clone Repository
        uses: actions/checkout@v4
        with:
          ref: 'main'

      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 22.x.x
          registry-url: 'https://registry.npmjs.org'

      - name: Setup Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: 1.3.8

      - name: Install Dependencies
        run: bun install --ignore-scripts --frozen-lockfile

      - name: Build Library
        run: bun run build --filter bootstrap-vue-next

      - name: Publish Main
        run: bun publish --tag latest --filter bootstrap-vue-next --access=public
        env:
          NODE_AUTH_TOKEN: ${{secrets.NPM_TOKEN}}
          NPM_CONFIG_PROVENANCE: true
