# This workflow is for the release please action. It automates releases when using conventional commit messages
# It also auto publishes releases to npm under the @latest tag on merge
# For more information see: https://github.com/google-github-actions/release-please-action

name: release-main

on:
  push:
    branches:
      - main

jobs:
  release-please:
    permissions:
      contents: write
      pull-requests: write
      id-token: write

    runs-on: ubuntu-latest

    outputs:
      releases_created: ${{ steps.release.outputs.releases_created }}
      bootstrap_vue_next_release_created: ${{ steps.release.outputs['packages/bootstrap-vue-next--release_created'] }}

    steps:
      - name: Use Release Please
        uses: googleapis/release-please-action@v4
        id: release

      # The logic below handles the npm publication:

      - name: Clone Repository
        uses: actions/checkout@v4
        if: ${{ steps.release.outputs.releases_created }}

      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 24.x.x
          registry-url: 'https://registry.npmjs.org'
        if: ${{ steps.release.outputs.releases_created }}

      - name: Install PNPM
        uses: pnpm/action-setup@v4
        id: pnpm-install
        if: ${{ steps.release.outputs.releases_created }}

      - name: Get PNPM Store Directory
        id: pnpm-cache
        shell: bash
        run: |
          echo "STORE_PATH=$(pnpm store path)" >> $GITHUB_OUTPUT
        if: ${{ steps.release.outputs.releases_created }}

      - name: Setup PNPM Cache
        uses: actions/cache@v3
        with:
          path: ${{ steps.pnpm-cache.outputs.STORE_PATH }}
          key: ${{ runner.os }}-pnpm-store-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-pnpm-store-
        if: ${{ steps.release.outputs.releases_created }}

      - name: Install Dependencies
        run: pnpm install --ignore-scripts --frozen-lockfile
        if: ${{ steps.release.outputs.releases_created }}

      - name: Build Library
        run: pnpm run build --filter bootstrap-vue-next --filter @bootstrap-vue-next/nuxt
        if: ${{ steps.release.outputs.releases_created }}

      - name: Publish Main
        run: pnpm publish --tag latest --filter bootstrap-vue-next --access=public
        if: ${{ steps.release.outputs.releases_created && steps.release.outputs['packages/bootstrap-vue-next--release_created'] }}

      - name: Publish Nuxt
        run: pnpm publish --tag latest --filter @bootstrap-vue-next/nuxt --access=public
        if: ${{ steps.release.outputs.releases_created && steps.release.outputs['packages/nuxt--release_created'] }}

  deploy-docs:
    needs: release-please
    if: ${{ needs.release-please.outputs.releases_created && needs.release-please.outputs.bootstrap_vue_next_release_created }}
    permissions:
      contents: read
      pages: write
      id-token: write

    concurrency: ci-${{ github.ref }}

    runs-on: ubuntu-latest

    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    steps:
      - name: Clone Repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 24.x.x

      - name: Install PNPM
        uses: pnpm/action-setup@v4
        id: pnpm-install

      - name: Get PNPM Store Directory
        id: pnpm-cache
        shell: bash
        run: |
          echo "STORE_PATH=$(pnpm store path)" >> $GITHUB_OUTPUT

      - name: Setup PNPM Cache
        uses: actions/cache@v3
        with:
          path: ${{ steps.pnpm-cache.outputs.STORE_PATH }}
          key: ${{ runner.os }}-pnpm-store-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-pnpm-store-

      - name: Install Dependencies
        run: pnpm install --ignore-scripts --frozen-lockfile

      - name: Build Library
        run: pnpm run build --filter docs

      - name: Configure Pages
        uses: actions/configure-pages@v5

      - name: Upload Artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: ./apps/docs/.vitepress/dist

      - name: Deploy Pages
        id: deployment
        uses: actions/deploy-pages@v4
