# This workflow is for the release please action. It automates releases when using conventional commit messages
# It also auto publishes releases to npm under the @latest tag on merge
# For more information see: https://github.com/google-github-actions/release-please-action

name: release-main

on:
  push:
    branches:
      - main

jobs:
  release-please:
    permissions:
      contents: write
      pull-requests: write
      id-token: write

    runs-on: ubuntu-latest

    steps:
      - name: Use Release Please
        uses: googleapis/release-please-action@v4
        id: release

      # The logic below handles the npm publication:

      - name: Clone Repository
        uses: actions/checkout@v4
        if: ${{ steps.release.outputs.releases_created }}

      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 22.x.x
          registry-url: 'https://registry.npmjs.org'
        if: ${{ steps.release.outputs.releases_created }}

      - name: Setup Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: 1.3.8
        if: ${{ steps.release.outputs.releases_created }}

      - name: Install Dependencies
        run: bun install --ignore-scripts --frozen-lockfile
        if: ${{ steps.release.outputs.releases_created }}

      - name: Build Library
        run: bun run build --filter bootstrap-vue-next --filter @bootstrap-vue-next/nuxt
        if: ${{ steps.release.outputs.releases_created }}

      - name: Publish Main
        run: bun publish --tag latest --filter bootstrap-vue-next --access=public
        env:
          NODE_AUTH_TOKEN: ${{secrets.NPM_TOKEN}}
          NPM_CONFIG_PROVENANCE: true
        if: ${{ steps.release.outputs.releases_created && steps.release.outputs['packages/bootstrap-vue-next--release_created'] }}

      - name: Publish Nuxt
        run: bun publish --tag latest --filter @bootstrap-vue-next/nuxt --access=public
        env:
          NODE_AUTH_TOKEN: ${{secrets.NPM_TOKEN_NUXT_PACKAGE}}
          NPM_CONFIG_PROVENANCE: true
        if: ${{ steps.release.outputs.releases_created && steps.release.outputs['packages/nuxt--release_created'] }}
